body{
	font-family: Georgia;
	font-size: 16px;
	color: #fff;
	background: url(../img/background_half.jpg);
	
}
article{
	animation: fadeInUp 3s;
	padding: 1em 0 0;

}
article a{
	color: #097113
}
article table{
	background-color: #eeeeee;
	color: #333;
	font-family: arial;
	width: 98%;
}
article td{
	padding: 0.3em;

}
article td:first-child{
	border-right: 2px solid #aba9a9;
}
article tr:nth-child(even){
	background-color: #d5d5d5; 
}
aside{
	background-color: #000;
	border-bottom:12px double #fff; 
	color: #686868;
	display: inline-block;
	font-family: Arial;
	padding: 130px 0.5em 1.8em;
	position: fixed;
	transform: skewY(10deg);
	vertical-align: top;
	width: 208px;	
}
aside p{
	margin:0.3em 0;
	padding: 0;
}
figure{
	transform: skewY(-10deg);
}
h1, h2, h3{
	margin:0;
	padding: 0;
}
h1 a{
	color: #93dcba;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 28px;
	text-decoration: none;
	text-shadow: -4px 3px  #444;
}
h2{
	border-bottom: 2px solid #0e7cb0;
	color: #0cb41c;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 1.5em;
}
h3{
	font-size: 1em;
}
input[type='text'], input[type='email']{
	border-radius: 10px;
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	padding: 0.4em 0.5em;
	width: 50%;

}
header{
	background: url(../img/carton2.png);
	height: 115px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
nav{
	display: inline-block;
	padding-top: 1.6em;
	vertical-align: top;
}
section{
	display: inline-block;
	padding: 130px 0.5em 0.5em;
	vertical-align: top;
	width: 76%;
}
textarea{
	border-radius: 20px;
	height: 150px;
	margin-bottom: 0.6em;
	padding: 0.4em 0.5em;
	width: 88%;
}

#head, #content{
	width: 90%;
	max-width: 1024px;
	margin:0 auto;
}
#menu{
	margin: 0;
	padding: 0;
}
#menu li{
	display: inline-block;
	margin: 0 0.2em;
	padding: 0;
}
#menu a{
	animation: menuRota 2s;
	background: -*-linear-gradient(top, #356aa0 0%,#5085bb 100%);
	border: 2px solid #1194d2;
	color: #fff;
	display: inline-block;
	font-family: Arial;
	font-weight: bold;
	padding: 0.5em 0.875em;
	transform:rotate(-5deg);
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#menu a:hover{
	transform: scale(1.2) rotate(-5deg);
}
#logo{
	display: inline-block;
	padding: 1em 3.2em 0 0;
}

.boton{
	background: -*-linear-gradient(top, #009ec3 0%,#00b7ea 100%);
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	padding: 0.5em 0.75em;
}
.boton:hover{
	background:#009ec3; 
}
.botonesBox{

	text-align: right;
	width: 85%;
}
.icon{
	background: url(../img/csg-5160be103696c.png) no-repeat;
	background-size: 16px 176px;
 	display: block;
 	height: 16px;
 	width: 16px;
}
.agi{
	background-position: 0 -128px;
}
.def{
	background-position: 0 -32px;
}
.fe{
	background-position: 0 -160px;
}

.imgPersonal{
	border: 4px solid #fff;
	width: 228px;
	height: 228px;
	margin: 0 0 0.75em -5%;
	position: relative;
	border-radius: 100%;
}
.msg{
	animation: fadeInUp 2s;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%), 
                      linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
                      linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
                      linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
	border-radius: 10px;
	color: #fff;
	font-family: arial;
	font-weight: bold;
	margin: 0 auto;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	text-shadow: -2px 2px  #333;

}
.error{

	background-color: #910505;
	border:2px solid #550000;
}
.sombrero{
	background-position:0 -96px; 
}
.sucess{
	background-color: #1a8800;
	border:2px solid #0f4502;
}
.suerte{
	background-position: 0 -64px;
}
.sword{
	background-position: 0 0;
}
.galleryBox{
	background: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0.8em;
	padding: 3px 3px 10px;
	transform:rotate(5deg);
	transition: all 0.5s ease-in-out;
	vertical-align: top;
	width: 20%;
}
.galleryBox:nth-child(odd){
	transform:rotate(-5deg);
}
.galleryBox:hover{
	transform: scale(1.5) ;
	z-index: 9999;
}
.galleryImg{
	width: 100%;
}
.overlay{
	background: rgba(255,255,255,0.45); 
	color: #999;
	min-height: 840px;
	position: fixed;
	width: 100%;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 30%;
	z-index: 99999;
	display: none;
}
.rpgAtributte td:nth-child(3){
	padding-left: 0.8em;
}
.rpgBox{
	background-color: #f0f0f0;
	border-radius: 10px;
	border: 4px solid #0E7CB0;
	color: #000;
	display: inline-block;
	font-family: "Courier New";
	font-weight: bold;
	margin: 0.4em;
	padding: 0.6em;
	width: 26%;
}
.rpgImg{
	text-align: center;
	margin-bottom: 0.3em;
}
.rpgImg span{
	background: url(../img/sprite_pixergame.jpg) no-repeat;
	background-size: 173px 1118px;
	display: block;
	height: 70px;
	margin: 0 auto;
	width: 70px;
}
.cake span{
	background-position: -2px -86px;
	width: 91px;
}
.ce span{
	background-position: 0 -689px;
	width: 167px;
}
.cplusplus span{
	background-position: -2px -516px;
	width: 140px;
}
.drupal span{
	background-position: -3px -344px;
}
.jango span{
	background-position: 0 -774px;
	height: 73px;
	width: 95px;
}
.java span{
	background-position: -1px -258px;
	height: 68px;
	width: 71px;
}
.jquery span{
	width: 162px;
}
.jscript span{
	background-position: -2px -172px;
	height: 73px;
	width: 53px;
}
.mysql span{
	background-position: -1px -860px;
	height: 75px;
	width: 57px;
}
.nodejs span{
	background-position: 0 -602px;
	height: 68px;
	width: 88px;
}
.php span{
	background-position: -1px -430px;
	height: 73px;
}
.puntonet span{
	background-position: -3px -1032px;
	height: 65px;
	width: 48px;
}
.python span{
	background-position: 0 -946px;
	height: 73px;
}
.sqlite span{

}
.sqlserver span{

}
.vbasic span{

}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes menuRota{
	0% {
		transform:rotate( 30deg);
		
	}
}